@import '../../../scss/variables';

.footer {
    align-items: center;
    background-color: $dust-grey;
    color: $white;
    display: flex;
    flex-direction: column;
    height: 20vh;
    line-height: 32px;
    padding: 40px;

    &-item {
        height: 100%;
        margin: auto;
        width: 50%;
        text-align: center;

        &:first-of-type {
            padding-left: 0;
        }

        &:nth-of-type(2) {
            width: 40%;
        }

        &:last-of-type {
            padding-right: 0;

            .footer-list {
                display: flex;
                justify-content: space-evenly;
            }
        }

        &:not(:last-of-type) {
            border-right: 1px solid $white;
        }

        &-social {
            display: flex;
            justify-content: space-evenly;

            span {
                font-size: 24px;

                &:first-of-type {
                    margin-right: 10px;
                }

                &:hover {
                    color: $goldenrod;
                }
            }
        }
    }

    &-list {
        display: flex;
        flex-direction: column;
        line-height: 32px;
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    a {
        color: $white;
        text-decoration: none;

        &:hover {
            color: $goldenrod;
        }
    }
}

@media screen and ($mobile-down) {
    .footer {
        flex-direction: column;
        height: auto;

        &-item {
            width: 100%;

            &:first-of-type,
            &:last-of-type {
                padding-left: 20px;
                padding-right: 20px;
            }

            &:nth-of-type(2) {
                width: 100%;
            }

            &:not(:last-of-type) {
                border-right: none;
                border-bottom: 1px solid $white;
            }
        }

        &:last-of-type {
            .footer-list {
                flex-direction: column;

                li {
                    margin: 10px 0;
                }
            }
        }
    }
}
