@import '../../../scss/variables';

.employee-block {
    background-color: $dust-grey;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    flex-basis: 50%;
    height: 300px;

    &:nth-of-type(2) {
        margin-left: 10px;
    }

    &-text {
        align-items: center;
        background-color: rgba(225, 191, 69, 0.8);
        color: $white;
        display: flex;
        height: 100%;
        opacity: 0;
        padding: 10px;
        text-align: center;
        text-transform: uppercase;
        transition: $opacity-ease-in;

        &.-clicked {
            background-color: rgba(164, 163, 159, 0.95);
            flex-direction: column;
            justify-content: space-between;
            padding: 20px;
        }
    }

    &:hover {
        cursor: pointer;

        .employee-block-text {
            opacity: 1;
            transition: $opacity-ease-out;
        }
    }

    .application-link {
        color: $white;
        align-self: flex-end;
        text-decoration: none;

        &:hover {
            color: $goldenrod;
        }
    }

    &.elderscrolls {
        background-image: url('../../../assets/es_home.png');
    }

    &.fallout {
        background-image: url('../../../assets/fo_home.png');
    }
}

@media screen and ($mobile-down) {
    .employee-block {
        &:nth-of-type(2) {
            margin-left: 0;
        }

        &:not(:last-of-type) {
            margin-bottom: 10px;
        }
    }
}
