@import '../../../scss/variables';

.content-block {
    background-color: $white;
    padding: 10px;

    &-container {
        background-color: $white;
        border: 2px solid $goldenrod;
        display: flex;
        justify-content: space-between;
        padding: 20px;
        height: 100%;
    }
}

.content-block-text {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    text-align: left;

    &-header {
        margin: 0;
        font-weight: 300;
        text-transform: uppercase;
    }

    p {
        margin-bottom: 40px;
    }

    &-download {
        color: $sage;
        font-weight: 500;
        text-decoration: none;

        &:hover {
            color: $goldenrod;
        }
    }

    .skills-container {
        background-color: $sage;
        color: $dust-grey;
        display: flex;
        justify-content: space-between;
        padding: 10px;

        .tech-container,
        .tools-container {
            background-color: $white;
            flex-basis: 50%;
            padding: 10px;

            &:first-of-type {
                margin-right: 20px;
            }
        }
    }

    .tech,
    .tools {
        border: 2px solid $goldenrod;
        height: 100%;
        line-height: 32px;
        list-style-type: none;
        margin-inline-start: 0;
        margin: 0;
        padding-inline-start: 0;
        padding: 20px;
        text-align: center;
        text-transform: uppercase;

        li:hover {
            color: $goldenrod;
            cursor: default;
        }
    }

    &-button {
        align-self: center;
        background-color: $goldenrod;
        color: $white;
        padding: 10px;
        text-decoration: none;
        text-transform: uppercase;

        &.-left-align {
            align-self: flex-end;
            margin-right: 10px;
        }

        &:hover {
            background-color: $dust-grey;
        }
    }
}

@media screen and ($mobile-down) {
    .content-block-container {
        flex-direction: column;
    }

    .content-block-image {
        height: 400px;
        margin-left: 0;
    }

    .content-block-text {
        text-align: center;

        &-header {
            margin-top: 20px;
        }

        &-button {
            &.-left-align {
                align-self: center;
                margin-right: 0;
            }
        }

        .skills-container {
            flex-direction: column;

            .tech-container,
            .tools-container {
                &:first-of-type {
                    margin-right: 0;
                    margin-bottom: 20px;
                }
            }
        }
    }
}
