// colors
$white: #fff;
$black: #394245; //#000;
$goldenrod: #e1bf45;
$dust-grey: #a4a39f;
$blush-pink: #e6ddde;
// rgb: rgb(164,163,159)
$sage: #808452;

// fonts

// transitions
$opacity-ease-in: opacity 0.5s ease-in;
$opacity-ease-out: opacity 0.5s ease-out;

// global styles

// breakpoints
$mobile-down: 'max-width: 768px';
$mobile-up: 'min-width: 769px';
$tablet-down: 'max-width: 979px';
$tablet-up: 'min-width: 980px';
$desktop-down: 'max-width: 1199px';
$desktop-up: 'min-width: 1200px';
