@import './_variables';

* {
    box-sizing: border-box;
}

.content {
    background-image: url('../assets/vintage-speckles.png');
    background-repeat: repeat;
    padding: 40px;
}

.header {
    color: $dark-grey;
    font-weight: 300;
    margin: 0 0 10px 0;
    text-align: left;
    text-transform: uppercase;
}

.section {
    background-color: $white;
    box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.1);
    margin: 20px 0;
    padding: 10px;
}

@media screen and ($desktop-down) {
    .content {
        padding: 20px;
    }

    .section {
        padding: 10px;
    }
}

@media screen and ($tablet-down) {
    .content {
        padding: 10px;
    }
}
