@import './_variables';
.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 40vmin;
    pointer-events: none;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.content {
    padding: 40px;
}

.section {
    background-color: $goldenrod;
    padding: 10px;
    margin: 20px 0;
}

@media screen and ($desktop-down) {
    .content {
        padding: 20px;
    }

    .section {
        padding: 10px;
    }
}

@media screen and ($tablet-down) {
    .content {
        padding: 10px;
    }

    .section {
        padding: 10px;
    }
}

* {
    box-sizing: border-box;
}
.header {
    color: $black;
    // border-bottom: 2px solid $dust-grey;
    font-weight: 300;
    margin: 0 0 10px 0;
    text-align: left;
    text-transform: uppercase;
}

.blush-pink {
    color: $blush-pink;
}
